= simple_form_for @post do |f|
  = f.input :title
  = f.input :body, input_html: { minlength: 50 }
  %label Tags
  = text_field_tag :associated_tags, @post.tag_list.join(" ")
  = f.button :submit, "Publish"